

.card {
  padding: 15px;
  border-radius: 8px;
  background-color: #f7f7f7;
  box-shadow: 0 0 8px rgba(0,0,0,0.1);
}

.adminButtons button, .viewDetailsButton {
  margin-top: 10px;
  margin-right: 5px;
  padding: 5px 10px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.adminButtons button:hover, .viewDetailsButton:hover {
  opacity: 0.8;
}

.viewDetailsButton {
  background-color: #28a745;
  color: white;
}
